# Testreport
All tests made for this module will be made using jest.

All tests can me found in `src/test`